@font-face {
  font-display: block;
  font-family: "Souper 3";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/Souper3.ttf");
}

@font-face {
  font-display: block;
  font-family: "Gochi Hand";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/GochiHand-Regular.ttf");
}

body {
  background-color: black;
  background-image: url(/assets/asphalt.jpg);
  color: #eee;
  font-family: "Gochi Hand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  display: grid;
  justify-content: center;
  gap: 8rem;
  margin: 0;
  padding: 8rem 4vw;
  text-shadow: 0 0 6px black;
}

body > * {
  max-width: 600px;
  width: 100%;
}

h1 {
  color: magenta;
  filter: blur(0.8px);
  font-family: "Souper 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: clamp(3rem, 16vw, 6rem);
  margin: 0;
  text-shadow: 7px 3px 15px white;
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.9);
}

li {
  list-style: none;
}

li p {
  margin: 0;
}

img {
  aspect-ratio: 1;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.9);
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 100%;
}

a {
  color: inherit;
}

.date {
  color: #bbb;
}