@font-face {
  font-display: fallback;
  font-family: "Gochi Hand";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/GochiHand-Regular.ttf");
}

body {
  background-color: black;
  background-image: url(asphalt.jpg);
  color: #eee;
  font-family: "Gochi Hand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  display: grid;
  justify-content: center;
  gap: 8rem;
  margin: 0;
  padding: 8rem 2vh;
  text-shadow: 0 0 6px black;
}

li {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
  list-style: none;
  max-width: 600px;
  width: 100%;
}

img {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.9);
  display: block;
  width: 100%;
}

p {
  /* background: rgba(0, 0, 0, 0.5); */
  /* font-weight: bold; */
  margin: 0;
  padding: 1rem 0;
  /* text-align: center; */
  /* text-wrap: balance; */
}